<h2 class="display-2 d-flex justify-content-center">Your question :</h2>
<h4 class="display-4 d-flex justify-content-center"><%= params[:ask] %></h4>

<p class="mb-0 d-flex justify-content-center"><%= @answer %> </p>

<p class="mb-0 d-flex justify-content-center">
<%= link_to "An other question ?", ask_path %>
</p>
