<h1 class="display-1 d-flex justify-content-center">Ask me</h1>
<form action="/answer" data-turbo="false" class="d-flex justify-content-center">
  <input type="text" name="ask">
  <input type="submit" value="ask" class="btn btn-success">
</form>
